<!--suppress HtmlFormInputWithoutLabel -->
<div class="container">
	<div class="side">
		<div class="header">
			<h2>Questions</h2>
			<mat-form-field>
				<mat-label>Unit</mat-label>
				<mat-select [(value)]="unitId">
					<mat-option *ngFor="let unit of units" [value]="unit.id">Unit {{ unit.id }}: {{ unit.title }}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Question</mat-label>
				<mat-select [(value)]="questionId" [disabled]="!unitId">
					<mat-option *ngFor="let question of questions" [value]="question.id">{{ question.questionType | titlecase }}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-checkbox [(ngModel)]="onlyShowUngraded">Only show ungraded answers</mat-checkbox>
		</div>
		<ng-container *ngIf="unitId; else noUnitSelected">
			<mat-action-list *ngIf="questionId; else noQuestionSelected">
				<ng-container *ngFor="let answer of answers; first as isFirst">
					<mat-divider *ngIf="isFirst"></mat-divider>
					<button mat-list-item (click)="selectAnswer(answer.id)">
						<span class="answer-header">
							{{ answer.submittedAt | date:'EEEE, MMMM d (h:mm a)' }}
							<span class="ungraded" *ngIf="!answer.points">Ungraded</span>
						</span>
					</button>
					<mat-divider></mat-divider>
				</ng-container>
			</mat-action-list>
			<ng-template #noQuestionSelected>
				<p>Click on a question in the dropdown above to select it!</p>
			</ng-template>
		</ng-container>
		<ng-template #noUnitSelected>
			<p>Click on a unit in the dropdown above to select it!</p>
		</ng-template>
	</div>
	<mat-divider vertical></mat-divider>
	<div class="side">
		<h2>Review Answer</h2>
		<div *ngIf="selectedAnswer; else noAnswerSelected">
			<mat-divider></mat-divider>
			<h3>Question</h3>
			<p>{{ selectedQuestion.body }}</p>
			<ng-container *ngIf="selectedQuestion.correctAnswer">
				<h4>Correct Answer</h4>
				<p>{{ selectedQuestion.correctAnswer }}</p>
			</ng-container>
			<mat-divider></mat-divider>
			<h3>Answer Content</h3>
			<div class="answer-content" *ngIf="selectedQuestion.answerFormat == formats.IMAGE; else nonImageContent">
				<img *ngFor="let url of selectedAnswer.content.split(' '), index as i" [src]="url" alt="Submitted image {{ i }}">
			</div>
			<ng-template #nonImageContent>
				<p>{{ selectedAnswer.content }}</p>
			</ng-template>
			<mat-divider></mat-divider>
			<h3>Grade</h3>
			<p>
				Current grade:
				<span *ngIf="selectedAnswer.points; else ungraded">
					<strong>{{ selectedAnswer.points }}</strong>/{{ selectedQuestion.maxPoints }} points
				</span>
				<ng-template #ungraded>
					<strong>none</strong>
				</ng-template>
			</p>
			<mat-form-field class="change-grade">
				<input matInput placeholder="Points" type="number" [formControl]="newGrade" min="0" [max]="selectedQuestion.maxPoints">
				<span matSuffix>/{{ selectedQuestion.maxPoints }} points</span>
				<mat-error *ngIf="newGrade.hasError('required')">New grade is required!</mat-error>
				<mat-error *ngIf="newGrade.hasError('min')">New grade must be greater than 0 points!</mat-error>
				<mat-error *ngIf="newGrade.hasError('max')">New grade must be less than {{ selectedQuestion.maxPoints }} points!</mat-error>
			</mat-form-field>
			<button class="change-grade-button" mat-raised-button color="primary" [disabled]="newGrade.invalid" (click)="changeGrade()">Change Grade</button>
		</div>
		<ng-template #noAnswerSelected>
			<p>Click on an answer in the list to select it!</p>
		</ng-template>
	</div>
</div>
