<h1>Administration</h1>
<mat-tab-group [selectedIndex]="selectedStage" (selectedIndexChange)="onTabChange($event)" mat-align-tabs="center">
	<mat-tab label="Units">
		<!-- For lazy loading -->
		<ng-template matTabContent>
			<app-admin-units [id]="id"></app-admin-units>
		</ng-template>
	</mat-tab>
	<mat-tab label="Questions">
		<ng-template matTabContent>
			<app-admin-questions [id]="id"></app-admin-questions>
		</ng-template>
	</mat-tab>
	<mat-tab label="Answers">
		<ng-template matTabContent>
			<app-admin-answers></app-admin-answers>
		</ng-template>
	</mat-tab>
</mat-tab-group>
