<h1 mat-dialog-title>Unit {{ unit.id }}: {{ unit.title }}</h1>
<div mat-dialog-content>
	<p>{{ unit.description }}</p>
	<!-- TODO: why isn't it showing up? -->
	<mat-grid-list cols="2" gutterSize="0.5em">
		<ng-container *ngFor="let type of types">
			<!-- Don't provide a routerLink unless the question actually exists -->
			<!-- Will that actually ever happen? I don't know, but we should probably handle it -->
			<a matRipple
			   *appLet="getFullQuestion(type) as question"
			   [routerLink]="question && '/question/' + question.id"
			   [matRippleDisabled]="!question"
			>
				<mat-grid-tile class="mat-elevation-z4">
					<mat-icon fontSet="fa" [fontIcon]="getIconClass(type)"></mat-icon>
					<mat-grid-tile-footer>{{ type | titlecase }}</mat-grid-tile-footer>
				</mat-grid-tile>
			</a>
		</ng-container>
	</mat-grid-list>
</div>
